body{
    margin: 0%;
    padding: 0%;
    contain: content;
    height: 100vh;
}
.ractangle{
    /* border: 2px solid red; */
    background-color: rgba(215, 218, 55, 1);
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    z-index: -2;
}
.navbar{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}
#logo{
    /* border: 2px solid red; */
    padding: 12px;
    margin-left: 30px;
}
.navbar ul{
    /* border: 2px solid red; */
    display: flex;
    margin-right: 10px;
    align-items: center;
}
.navbar ul li{
    /* border: 2px solid red; */
    list-style: none;
    display: inline-block;
    position: relative;
    margin-left: 50px;
    margin-right: 30px;
    cursor: pointer;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 0, 0);
    /* position: absolute; */
    display: block;
    /* right: 0; */
    margin: auto;
    bottom: -5px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
    
}





.content p{
    /* border: 2px solid red; */
    text-align: justify;
    width: 25%;
    margin-top: -5%;
    margin-left: 5%;
}
/* .MidImg {
    left: 100px;
} */
.MidImg img{
    /* border: 2px solid red; */
    position: relative;
    margin-top: -80px;
    width: 50%;
    left: 33%;
}
.content button{
    border: none;
    background-color: #fff;
    font-style: italic;
    font-weight: 600;
    color: blue;
    margin-left: 25%;
    position: absolute;
    top: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    /* margin-top: 10%; */
}
.sideText h1{
    /* border: 2px solid red; */
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    bottom: 120px;
    left: 10%;
    font-style: italic;
    font-size: 30px;
    
}
/* hr{
    width: 100px;
    transform: rotate(-90deg);
    display: inline-block;
    position: relative;
    left: 1%;
} */
.square{
    background-color: rgb(51, 51, 43);
    position: absolute;
    /* width: 10%; */
    right: 0;
    height: 100vh;
    z-index: 2;
}
.circle{
    background-color: transparent;
    border-radius: 50%;
    border: 20px solid rgba(255, 250, 187, 0.493);
    position: absolute;
    width: 20%;
    top: 15%;
    right: -10%;
    height: 40%;
}
.socialMedia{
    /* border: 2px solid red; */
    display: inline-block;
    position: relative;
    left: 95%;
    top: 350px;
    flex-direction: column;
    width: 2%;
}
.socialMedia img{
    cursor: pointer;
    margin: 5px;
}
.bottomLine{
    display: inline-block;
    position: relative;
    bottom: 100px;
    left: 17%;
}
.bottomLine img{
    width: 120%;
}